page-dashboard {
ion-content {
    background-image: url('../assets/imgs/background.png');
    background-position: center;
    background-size: cover;
}
.delete-btn{
    margin-bottom: -1px;
    height: 20px;
    color: #fff;
    background-color: red;
}
.update-btn{
    margin-bottom: -1px;
    height: 20px;
    color: #fff;
}
}
