page-profile {
 .center{
     text-align:center;
}
ion-content {
     background-image: url('../assets/imgs/background.png');
    background-position: center;
    background-size: cover;
}
.item-md {
    background-color: transparent !important;
}
ion-input{
    color: white;
}
ion-select {
    color: white;
}
.summitbutton{
        width: 150px;
    height: 30px !important;
}
}
