page-welcome {
.first-slide {
  background-image: url('../assets/imgs/img1.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.second-slide {
  background-image: url('../assets/imgs/img3.jpg'); 
  background-position: center;
  background-size: cover;  
  background-repeat: no-repeat
}

.third-slide {  
  background-image: url('../assets/imgs/img2.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat
}

.slide-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#FFFFFF; 
    font-size: 45px
}
}   
