page-signup {
    .center{
     text-align:center;
}
ion-content {
    background-image: url('../assets/imgs/background.png');
}
.item-md {
    background-color: transparent !important;
}
ion-input{
    color: white;
}
.summitbutton{
        width: 150px;
    height: 30px !important;
}
ion-select {
    color: white;
}
}
